{{ range $element :=  .Data.Pages }}
   {{ if eq .Section "home" }}
       {{ if eq .Title "second_section" }}
					<h1 class="text-center space-top">Skills &amp; Stats</h1>
					<div class="separator"></div>
<!--					<p class="text-center"></p>-->
<div class="row">
<div class="span6">
<div class="space-top space-bottom">
<h4 class="title">Cloud Computing</h4>
<div class="progress">
<div class="progress-bar progress-bar-default" role="progressbar" data-animate-width="100%">
										<span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="700">100%</span>
									</div>
</div>
<h4 class="title">Scalable Reliable Storage</h4>
<div class="progress">
<div class="progress-bar progress-bar-default" role="progressbar" data-animate-width="100%">
										<span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="700">100%</span>
									</div>
</div>
<h4 class="title">Datacenter Automation</h4>
<div class="progress">
<div class="progress-bar progress-bar-default" role="progressbar" data-animate-width="100%">
										<span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="700">100%</span>
									</div>
</div>
<h4 class="title">Enterprise Cloud Desktop</h4>
<div class="progress">
<div class="progress-bar progress-bar-default" role="progressbar" data-animate-width="100%">
										<span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="700">100%</span>
									</div>
</div>
<h4 class="title">Scalable Mobile Platform</h4>
<div class="progress">
<div class="progress-bar progress-bar-default" role="progressbar" data-animate-width="100%">
										<span class="object-non-visible" data-animation-effect="fadeInLeftBig" data-effect-delay="700">100%</span>
									</div>
</div>
</div>
</div>
<div class="span6">
<div class="stats">
<div class="stat-box bt-clear">
<i class="fa fa-cloud-download"></i>
									<h5>Years of Cloud Experience</h5>
									<span data-to="15" data-speed="1000">0</span>
</div>
<div class="stat-box bt-clear br-clear">
<i class="fa fa-user"></i>
									<h5>Group Employees</h5>
									<span data-to="200" data-speed="1000">0</span>
</div>
<div class="stat-box">
<i class="fa fa-briefcase"></i>
									<h5>Users reached</h5>
									<span data-to="100000" data-speed="5000">0</span>
</div>
<div class="stat-box br-clear">
<i class="fa fa-thumbs-o-up"></i>
									<h5>% of satisfaction</h5>
									<span data-to="99" data-speed="1000">0</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
					{{ end }}
			{{ end }}
{{ end }}
