{{ range $element :=  $.Site.Pages }}
  {{ if eq .Section "home" }}
      {{ if eq .Title "header" }}
      
      <body >
      
      <div class="main-navigation fixed">
        <div class="container">
          <div class="row">
            <div class="col-md-3"> <a class="logo" href="/"><img src="/images/logo.png"/></a> </div>
            <div class="col-md-9">
              <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-main-menu">
                    <li class="active"><a href="/" >Home</a></li>
                    <li><a href="/why-0-complexity/">Why 0-complexity</a></li>
                    <li><a href="/solution/">Solution</a></li>
                    <li><a href="/about-us/">About us</a></li>
                    <li><a href="/investors-Info/">Investors Info</a></li>
                    <li><a href="/contact-us">Contact us</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      {{end}}
      {{end}}
      {{end}}
      